@font: 'Open Sans', 'PT Sans', Arial, sans-serif;
@mainfont: 18px;
@mainLineHeight: @mainfont*2;
@main:  #545d79;
@white: #ffffff;

@blue:       #76addb;
@blue2:      #4d88ba;
@blue3:      #2c6697;
@p_title:    #4b6eb3;
@red:        #d2232a;
@red2:       #bf1f26;
@gray:       #cbd0df;
@yellow:	 #fdfab0;
@title:		 #3f4a6c;
@darkblue:	 #27314f;
@bluelight:  #727b98;
@bluelight2: #7997d4;
@input:      #989eaf;
@date:       #aeb2bd;
@subscribe:  #d4dfee;

.basefont {
	font-family: @font;
	color: @main;
	font-size: @mainfont;
	line-height: @mainLineHeight;
	font-weight: normal;
}
.smalltext {
	font-size: 14px;
	line-height: 24px;
}
.ptsans {
	font-family: 'PT Sans', sans-serif;
}
.fontawesome {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}
.shadowed {
	box-shadow: 0 0 8px 0 @gray;
}
.blue {
	color: @p_title;
	font-weight: normal;
}
.border-radius( @radius: 3px) {
	border-radius: @radius;
}
.background-clip {
	background-clip: padding-box;
}
.topleftradius( @topleftradius: 3px) {
	border-top-left-radius: @topleftradius;
}
.toprightradius( @toprightradius: 3px) {
	border-top-right-radius: @toprightradius;
}
.bottomleftradius( @bottomleftradius: 3px) {
	border-bottom-left-radius: @bottomleftradius;
}
.bottomrightradius( @bottomrightradius: 3px) {
	border-bottom-right-radius: @bottomrightradius;
}
.borderradiusnone {
	border-radius: 0;
}
.round {
	border-radius: 50%;
}
.transition {
	transition: all 0.3s ease;
}
.transition-event(@event) {
	transition: @event;
}
.transition-property(@string) {
	transition-property: @string;
}
.transition-delay(@event) {
	transition-delay: @event;
}
.transform-origin(@event) {
	transform-origin: @event;
}
.transformnone {
	transform: none;
}
.transform(@string) {
	transform: @string;
}
.box-shadow (@string) {
	box-shadow: @string;
}
.box-sizing (@string) {
	box-sizing: @string;
}
.rotate (@deg) {
	transform: rotate(@deg);
}
.rotate45 {
	.rotate(45deg);
}
.reverted {
	.rotate(180deg);
}
.blur (@event) {
	filter: blur(@event);
}
.appearancenone {
	appearance: none;
}
.userselectnone {
	user-select: none;
}
.displayflex {
	display: flex;
}
.no-select, .no-select * {
	user-select: none;
}
.displaynone, .collapse {
	display: none;
}
.wrapper {
	padding: 0 42px;
}
.overflow {
	overflow: hidden;
}
.centertext,
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	&:after, &:before {
		content: " ";
		display: block;
		clear: both;
		height: 0;
		overflow: hidden;
	}
}
.table {
	display: table;
	width: 100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
}
.inline-block {
	display: inline-block;
	vertical-align: middle;
}
.uppercase {
	text-transform: uppercase;
}
.no-padding {
	&-right {
		padding-right: 0;
	}
}
.button {
	.inline-block;
	text-align: center;
	padding: 0 25px;
	line-height: 40px;
	border: 1px solid @red;
	background: none;
	color: @red;
	&:hover {
		color: @white;
		background-color: @red;
	}
	&:focus, &:active {
		color: @white;
		background-color: @red2;
		border: 1px solid @red2;
	}
	&.button-small {
		padding: 0;
		max-width: 170px;
		width: 100%;
	}
}