@import (reference) "config.less";
.header {
	.table {
		table-layout: fixed;
		height: 120px;
		border-bottom: 1px solid @gray;
	}
}
.logo {
	&-img {
		.inline-block;
		width: 178px;
		height: 73px;
		margin-right: 25px;
	}
	&-title {
		.inline-block;
		.smalltext;
		width: 42%;
	}
}
.address {
	text-align: center;
	text-transform: uppercase;
	font-style: normal;
	i {
		font-size: 24px;
	}
	&-title {
		font-weight: bold;
		display: block;
		line-height: 24px;
	}
	&-description {
		font-size: 14px;
	}
}
.phones {
	.inline-block;
	&-item {
		.smalltext;
		text-transform: uppercase;
		display: block;
		margin: 0 0 5px 0;
		&:last-child {
			margin-bottom: 0;
		}
		a {
			color: inherit;
			&:hover {
				color: @blue2;
			}
		}
	}
}
.callback {
	.inline-block;
	text-align: center;
	margin: 0 0 0 25px;
	&-title {
		.smalltext;
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 15px 0;
	}
}
.nav {
	text-align: center;
	line-height: 60px;
	&-item {
		.ptsans;
		display: inline-block;
		margin: 0 15px;
		text-transform: uppercase;
		color: inherit;
		font-weight: bold;
		font-size: 16px;
		&:hover {
			color: @blue2;
		}
	}
}
