<!DOCTYPE html>
<html>
<head>
    <title>[TITLE]</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link rel="stylesheet" href="../node_modules/bxslider/dist/jquery.bxslider.min.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Sans:400,700&amp;subset=cyrillic-ext">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='screen'>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="table">
            <div class="table-cell">
                <div class="logo">
                    <a href="/" class="logo-img" title="Impex - Главная страница">
                        <img src="./img/logo.svg" width="178" height="73" alt="Impex logo">
                    </a>
                    <span class="logo-title">Поставщик сухих молочных продуктов по всем регионам Украины</span>
                </div>
            </div>
            <div class="table-cell">
                <address class="address">
                    <i class="fa fa-map-marker"></i>
                    <span class="address-title">Черкассы, Смелянская 129</span>
                    <span class="address-description">Работаем по всей Украине</span>
                </address>
            </div>
            <div class="table-cell">
                <div class="text-right header-contacts">
                    <ul class="phones">
                        <li class="phones-item"><a href="tel:+380503131612">+38 (050) 313-16-12</a></li>
                        <li class="phones-item"><a href="tel:+380503361200">+38 (050) 336-12-00</a></li>
                        <li class="phones-item"><a href="tel:+380472630500">+38 (0472) 63-05-00</a></li>
                    </ul>
                    <div class="callback">
                        <span class="callback-title">Мы можем перезвонить</span>
                        <button class="button" data-href="modal-callback">Перезвоните мне</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav">
            <a class="nav-item" href="#">Главная</a>
            <a class="nav-item" href="#">Продукция</a>
            <a class="nav-item" href="#">Оплата и доставка</a>
            <a class="nav-item" href="#">Новости</a>
            <a class="nav-item" href="#">О компании</a>
            <a class="nav-item" href="#">Контакты</a>
        </nav>
    </div>
</header>
<section class="breadcrumbs">
    <div class="container">
        <a href="/">Главная</a><span>Контакты</span>
    </div>
</section>
<main>
    <div class="container">
        <div class="content">
            <h1>Контакты</h1>
            <div class="contacts">
                <div class="contacts-left">
                    <span class="h3">Реквизиты:</span>
                    <ul class="contacts-list">
                        <li class="contacts-list__item">
                            <div class="contacts-list__item-title">
                                <i class="fa fa-map-marker"></i><span>Адрес:</span>
                            </div>
                            <a class="contacts-list__item-link" href="/contacts">Черкассы. Смелянская 129</a>
                        </li>
                        <li class="contacts-list__item">
                            <div class="contacts-list__item-title">
                                <i class="fa fa-envelope"></i><span>Почта:</span>
                            </div>
                            <a class="contacts-list__item-link" href="mailto:Impex.corporative@gmail.com">Impex.corporative@gmail.com</a>
                        </li>
                        <li class="contacts-list__item">
                            <div class="contacts-list__item-title">
                                <i class="fa fa-phone"></i><span>Телефоны:</span>
                            </div>
                            <a class="contacts-list__item-link" href="tel:+380503131612">+38 (050) 313-16-12</a>
                            <a class="contacts-list__item-link" href="tel:+380503361200">+38 (050) 336-12-00</a>
                        </li>
                    </ul>
                </div>
                <div class="contacts-form">
                    <span class="h3">Свяжитесь с нами:</span>
                    <form action="">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <span>Ваше имя</span>
                                <input type="text">
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <span>Ваш телефон</span>
                                <input type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Сообщение</span>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="submit" class="button button-small" value="Отправить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="footer-map">
        <iframe frameborder="0" style="border:0" width="100%" height="650" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.566188041541!2d32.034015999999994!3d49.417108999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14bf406825bb5%3A0xb8a25597a0edafc2!2z0LLRg9C7LiDQodC80ZbQu9GP0L3RgdGM0LrQsCwgMTI5LCDQp9C10YDQutCw0YHQuCwg0KfQtdGA0LrQsNGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1406202894007"></iframe>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-left">
                    <div class="logo">
                        <a href="/" class="logo-img" title="Impex - Главная страница">
                            <img src="./img/logo.svg" width="178" height="73" alt="Impex logo">
                        </a>
                        <span class="logo-title">Поставщик сухих молочных продуктов по всем регионам Украины</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <p>Design by <a href="/">Alexandr Nazarenko</a> | Layout: <a href="https:github.com/ucozlab">#Ucozlab</a></p>
                    <p>© 2016</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="fader" id="fader" style="display: none">
    <div class="modal" data-modal="modal-callback">
        <div class="modal-head">
            <span class="title24">Задайте вопрос менеджеру</span>
        </div>
        <div class="modal-body">
            <p class="ptsans">Введите свой номер телефона и наш менеджер свяжется с вами в ближайшее время.</p>
            <form action="">
                <input type="text" placeholder="+38 (000) 000-00-00">
                <input type="submit" class="button" value="Перезвоните мне">
            </form>
            <p class="smalltext">Мы заботимся о вашей конфидициальности! Ваши данные не будут переданы третьим лицам!</p>
        </div>
    </div>
    <div class="modal" data-modal="modal-order">
        <div class="modal-head">
            <span class="title24">Оформление заказа</span>
        </div>
        <div class="modal-body">
            <p class="ptsans">Введите свой номер телефона и наш менеджер свяжется с вами в ближайшее время.</p>
            <form action="">
                <input type="text" placeholder="+38 (000) 000-00-00">
                <input type="submit" class="button" value="Оформить заказ">
            </form>
            <p class="smalltext">Мы заботимся о вашей конфидициальности! Ваши данные не будут переданы третьим лицам!</p>
        </div>
    </div>
    <div class="modal" data-modal="modal-subscribe">
        <div class="modal-head">
            <span class="title24">Будьте в курсе последних новостей</span>
        </div>
        <div class="modal-body">
            <p class="ptsans">Введите свой e-mail адрес и получайте последние новости от нас.</p>
            <form action="">
                <input type="text" placeholder="+38 (000) 000-00-00">
                <input type="submit" class="button" value="Подписаться на новости">
            </form>
            <p class="smalltext">Мы заботимся о вашей конфидициальности! Ваши данные не будут переданы третьим лицам!</p>
        </div>
    </div>
    <div class="modal" data-modal="modal-benefits-control">
        <div class="modal-head">
            <div class="modal-head__img">
                <svg width="37" height="59" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 356.46 572.6">
                    <path class="cls-1" d="M246.39,504.5v12h-74V572.6H464.53V516.51h-134v-48.3H288.9v-0.35c-39.14,0-74.53-17.73-99.78-46.14l35.45,14.16v9H410.77V424.6H224.58v1.23l-47-18.76a158.79,158.79,0,0,1-27.47-89.95c0-54.32,26.59-102,66.38-128.55a65.09,65.09,0,0,0,76.63,27.54v52.68a14,14,0,0,0,13.64,14v94.3h0.47c2.19,2.67,11.77,7,23.28,7s21.07-4.35,23.27-7h0.48v-94.3a14,14,0,0,0,13.63-14V63.1a14,14,0,0,0-12.46-13.87V26.49a15.26,15.26,0,0,0-.16-1.56h11.31A9.35,9.35,0,0,0,376,15.58V9.35A9.35,9.35,0,0,0,366.63,0H294.44a9.35,9.35,0,0,0-9.34,9.35v6.23a9.35,9.35,0,0,0,9.34,9.35h11.32c0,0.52-.15,1-0.15,1.56V49.23A14,14,0,0,0,293.15,63.1V92.26a65.22,65.22,0,0,0-85.77,52.83c-58.86,31.84-99.3,97-99.3,172C108.07,407.82,167.13,484.05,246.39,504.5ZM228.57,181.38a131.13,131.13,0,0,1,12.37-5.73,37.88,37.88,0,1,0,1.42-44.84,170.66,170.66,0,0,0-18.81,6.57A51.48,51.48,0,1,1,228.57,181.38Z" transform="translate(-108.07 0)"/>
                </svg>
            </div>
            <span>Контроль входящего качества товара</span>
        </div>
        <div class="modal-body">
            <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="modal" data-modal="modal-benefits-delivery">
        <div class="modal-head">
            <div class="modal-head__img">
                <svg width="81" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 497.77 251.5">
                    <path class="cls-1" d="M45.9,274.06h254v47.74H140a53.57,53.57,0,0,0-100.39-.92A22.86,22.86,0,0,1,23,298.94v-2A22.84,22.84,0,0,1,45.9,274.06Zm81.79,60.71a39.88,39.88,0,1,1-39.89-39.89A39.92,39.92,0,0,1,127.7,334.77Zm-12.21,0A27.68,27.68,0,1,0,87.8,362.43,27.71,27.71,0,0,0,115.49,334.77Zm324.11,0a39.87,39.87,0,1,1-39.88-39.89A39.92,39.92,0,0,1,439.6,334.77Zm-12.19,0a27.68,27.68,0,1,0-27.68,27.67A27.71,27.71,0,0,0,427.41,334.77Zm70.36-89.41v65a7.63,7.63,0,0,1-7.62,7.62H450.3a53.55,53.55,0,0,0-97.61,0H325.81a7.63,7.63,0,0,1-7.63-7.62V154.44a7.63,7.63,0,0,1,7.63-7.62H426.14a18.69,18.69,0,0,1,15.23,7.62Zm-35.56-19.82-34.29-56.89c-2.65-4.9-5.91-7.61-17.53-7.61H348.16a7.61,7.61,0,0,0-7.62,7.61v56.89a7.62,7.62,0,0,0,7.62,7.63H454.58A7.62,7.62,0,0,0,462.21,225.54ZM491.92,287a7.12,7.12,0,0,0-14.23,0v13.46a7.12,7.12,0,1,0,14.23,0V287ZM0,260.41H299.91V123.13H0V260.41Z" transform="translate(0 -123.13)"/>
                </svg>
            </div>
            <span>Доставка товара за наш счет по всей Украине</span>
        </div>
        <div class="modal-body">
            <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="modal" data-modal="modal-benefits-stitch">
        <div class="modal-head">
            <div class="modal-head__img">
                <svg width="56" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 355.71 317.68">
                    <g>
                        <path class="cls-1" d="M152.69,79.16a10,10,0,0,0-10,10v80.5H92a10,10,0,0,0-10,10v5a10,10,0,0,0,10,10h65.71a10,10,0,0,0,10-10V89.16a10,10,0,0,0-10-10h-5Z" transform="translate(0 -19.01)"/>
                        <path class="cls-1" d="M197,309l0.05-.39V298.18A130,130,0,0,1,155.48,305C83.53,305,25,246.44,25,174.49S83.53,44,155.48,44c65.82,0,120.4,49,129.22,112.42a210.25,210.25,0,0,1,25.41,1.85C302,80.14,235.74,19,155.48,19,69.75,19,0,88.76,0,174.49S69.75,330,155.48,330a155,155,0,0,0,45.28-6.73A17.2,17.2,0,0,1,197,312.82V309Z" transform="translate(0 -19.01)"/>
                        <path class="cls-1" d="M207.05,190.28c0,10,28.28,23.88,74.33,23.88s74.33-13.91,74.33-23.88-28.28-23.88-74.33-23.88S207.05,180.31,207.05,190.28ZM283,179.38l0.7,1.34a79.65,79.65,0,0,1,11.67,1.08c1,0.18,1.42.57,1,.89L293.45,185a3.81,3.81,0,0,1-2.48.26,52.47,52.47,0,0,0-9.26-.6c-3.21.08-8.49,0.53-7.87,1.72s2.55,1.56,11,2.2c7.18,0.55,18,1.38,20,5.48,1.34,2.58-3.13,4.68-11.46,5.46l0.73,1.41c0.19,0.36-.5.67-1.53,0.7l-7.45.19a2.89,2.89,0,0,1-2.2-.6l-0.76-1.48a64.62,64.62,0,0,1-13.83-2.11c-0.84-.24-1-0.65-0.4-0.92l4.49-1.92a3.47,3.47,0,0,1,1.24-.21,5,5,0,0,1,1.41.17,41.59,41.59,0,0,0,11,1.18c3.07-.07,8.11-0.5,7.54-1.6s-2.2-1.32-10.16-1.93c-7.41-.57-18.59-1.43-20.82-5.74-1.27-2.46,2.52-4.49,9.95-5.4l-0.81-1.56c-0.18-.36.5-0.67,1.53-0.7l7.45-.19A2.89,2.89,0,0,1,283,179.38Z" transform="translate(0 -19.01)"/>
                        <path class="cls-1" d="M207.05,206.94v24.84c1.2,9.91,29.22,23.21,74.27,23.21,46.05,0,74.33-13.91,74.33-23.88l0-24.16c-15.2,11.26-45.39,17.2-74.3,17.2S222.25,218.21,207.05,206.94Z" transform="translate(0 -19.01)"/>
                        <path class="cls-1" d="M207.05,288.66V309c0,0.08,0,.17,0,0.25s0,0.28,0,.42v3.2c0,10,28.28,23.88,74.32,23.88s74.33-13.91,74.33-23.88l0-24.22c-15.18,11.29-45.42,17.24-74.36,17.24S222.27,299.9,207.05,288.66Z" transform="translate(0 -19.01)"/>
                        <path class="cls-1" d="M207.05,247.82v24.8c1.2,9.91,29.22,23.21,74.27,23.21,46.05,0,74.33-13.91,74.33-23.88l0-24.21C340.5,259,310.27,265,281.32,265S222.27,259.06,207.05,247.82Z" transform="translate(0 -19.01)"/>
                    </g>
                </svg>
            </div>
            <span>Возможна отстрочка по платежу</span>
        </div>
        <div class="modal-body">
            <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    <div class="modal" data-modal="modal-benefits-example">
        <div class="modal-head">
            <div class="modal-head__img">
                <svg width="45" height="42" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 334.5 309.58">
                    <path class="cls-1" d="M332.8,13.7a5,5,0,0,0-5.4-.78L2.89,163.7a5,5,0,0,0-.1,9l91.83,45.07a5,5,0,0,0,5.2-.48l89.29-66.73L119,222.67a5,5,0,0,0-1.4,3.87l7,90.89a5,5,0,0,0,8.77,2.88l48.74-56.48,60.26,28.79a5,5,0,0,0,6.93-3L334.27,19A5,5,0,0,0,332.8,13.7Z" transform="translate(0 -12.46)"/>
                </svg>
            </div>
            <span>Возможна отправка образцов продукции</span>
        </div>
        <div class="modal-body">
            <p class="text-left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
</div>
<script src="./js/jquery.min.js"></script>
<script src="../node_modules/bxslider/dist/jquery.bxslider.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
