<!DOCTYPE html>
<html>
<head>
    <title>[TITLE]</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </header>
        <main class="main"></main>
        <div class="footer-clearfix"></div>
    </div>
    <footer class="footer">
        <div class="footer-info">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </footer>
    <script src="js/scripts.js"></script>
</body>
</html>
